@font-face {
    font-family: ginto;
    src: url(ABCGintoNord-Bold.ttf);
}
body {
    margin: 0%;
}
#header {
    display: flex;
    justify-content: space-between; /* Aligns items with space between them */
    align-items: center; /* Aligns items vertically */
    background-color: #1f1f1f;
    height: 80px;
    border-radius: 0px 0px 30px 30px;
    padding: 0 20px; /* Add padding for spacing */
    font-family: ginto;

  }

  
  #nav a {
    color: white;
    padding: 20px;
    text-decoration: none;

  }
.logo {
    text-decoration: none;
    color:white;
}

  
